# ENV setting for local matchine

# CUDA
export PATH=/opt/cuda/bin:$PATH
export LD_LIBRARY_PATH=/opt/cuda/lib64:$LD_LIBRARY_PATH

#MKL
export LD_LIBRARY_PATH=/opt/intel/mkl/lib/intel64:$LD_LIBRARY_PATH

#opencv
export LD_LIBRARY_PATH=/usr/local/lib/:$LD_LIBRARY_PATH
export PYTHONPATH=/usr/local/lib/python2.7/site-packages/:$PYTHONPATH
export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig:$PKG_CONFIG_PATH

#matlab
export MATLAB_ROOT=/usr/local/MATLAB/R2014b

#CAFFE
export PYTHONPATH=/home/shenyunhang/Documents/caffe/python:$PYTHONPATH



