# ENV setting for local matchine

# common (or opencv)
export PATH=/usr/local/bin/:$PATH
export LD_LIBRARY_PATH=/usr/local/lib/:$LD_LIBRARY_PATH
export LIBRARY_PATH=/usr/local/lib/:$LIBRARY_PATH
export CPATH=/usr/local/include/:$CPATH
export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig:$PKG_CONFIG_PATH


# python
export PYTHONPATH=/usr/local/lib/python3.6/site-packages/:$PYTHONPATH

# CUDA
export PATH=/usr/local/cuda/bin/:$PATH
export LD_LIBRARY_PATH=/usr/local/cuda/lib64/:$LD_LIBRARY_PATH

# MKL
# export LD_LIBRARY_PATH=/opt/intel/mkl/lib/intel64:$LD_LIBRARY_PATH

# matlab
# export MATLAB_ROOT=/usr/local/MATLAB/R2014b

# CAFFE
# export PYTHONPATH=/home/shenyunhang/Documents/caffe/python:$PYTHONPATH

# Pytorch
export LD_LIBRARY_PATH=/usr/local/lib/python3.6/dist-packages/torch/lib:$LD_LIBRARY_PATH
export LIBRARY_PATH=/usr/local/lib/python3.6/dist-packages/torch/lib:$LIBRARY_PATH
export CPATH=/usr/local/lib/python3.6/dist-packages/torch/include:$CPATH
export PYTHONPATH=/usr/local/lib/python3.6/site-packages/:$PYTHONPATH

# vim
export EDITOR=vim

fortune -e 先秦 两汉 魏晋 南北朝 隋代 唐代 五代 宋代 金朝 元代 明代 清代
echo ''
